//
//  Shared.xcconfig
//  TeleMed
//
//  Created by Shane Goodwin on 10/20/20.
//  Copyright © 2020 SolutionBuilt. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// API Settings
API_BASE_URL = $(BASE_URL)/$(API_PREFIX)/api/
AUTHENTICATION_BASE_URL = $(BASE_URL)/Auth/
AUTHENTICATION_CALLBACK_PAGE = Authentication/Success

// Append as preprocessor macros (Objective C only)
API_SETTINGS = API_BASE_URL='@"$(API_BASE_URL)"' AUTHENTICATION_AUDIENCE='@"$(AUTHENTICATION_AUDIENCE)"' AUTHENTICATION_BASE_URL='@"$(AUTHENTICATION_BASE_URL)"' AUTHENTICATION_CALLBACK_PAGE='@"$(AUTHENTICATION_CALLBACK_PAGE)"' XMLNS='@"$(XMLNS)"'


// Timeout/Expiration Periods
ACCESS_TOKEN_EXPIRATION_TIME = 28.0
DEFAULT_TIMEOUT_PERIOD_MINUTES = 10
NSURLREQUEST_EXTENDED_TIMEOUT_INTERVAL = 60.0 // All requests that submit data to server need longer timeout
NSURLREQUEST_TIMEOUT_INTERVAL = 12.0

// Append as preprocessor macros (Objective C only)
TIMEOUT_PERIODS = ACCESS_TOKEN_EXPIRATION_TIME="$(ACCESS_TOKEN_EXPIRATION_TIME)" DEFAULT_TIMEOUT_PERIOD_MINUTES="$(DEFAULT_TIMEOUT_PERIOD_MINUTES)" NSURLREQUEST_EXTENDED_TIMEOUT_INTERVAL="$(NSURLREQUEST_EXTENDED_TIMEOUT_INTERVAL)" NSURLREQUEST_TIMEOUT_INTERVAL="$(NSURLREQUEST_TIMEOUT_INTERVAL)"


// Notification Center
NOTIFICATION_APPLICATION_DID_CONNECT_CALL = ApplicationDidConnectCallNotification
NOTIFICATION_APPLICATION_DID_DISCONNECT_CALL = ApplicationDidDisconnectCallNotification
NOTIFICATION_APPLICATION_DID_FAIL_TO_REGISTER_FOR_REMOTE_NOTIFICATIONS = ApplicationDidFailToRegisterForRemoteNotificationsNotification
NOTIFICATION_APPLICATION_DID_RECEIVE_REMOTE_NOTIFICATION = ApplicationDidReceiveRemoteNotification
NOTIFICATION_APPLICATION_DID_REGISTER_FOR_REMOTE_NOTIFICATIONS = ApplicationDidRegisterForRemoteNotificationsNotification
NOTIFICATION_APPLICATION_DID_TIMEOUT = ApplicationDidTimeoutNotification

// Append as preprocessor macros (Objective C only)
NOTIFICATION_CENTER = NOTIFICATION_APPLICATION_DID_CONNECT_CALL='@"$(NOTIFICATION_APPLICATION_DID_CONNECT_CALL)"' NOTIFICATION_APPLICATION_DID_DISCONNECT_CALL='@"$(NOTIFICATION_APPLICATION_DID_DISCONNECT_CALL)"' NOTIFICATION_APPLICATION_DID_FAIL_TO_REGISTER_FOR_REMOTE_NOTIFICATIONS='@"$(NOTIFICATION_APPLICATION_DID_FAIL_TO_REGISTER_FOR_REMOTE_NOTIFICATIONS)"' NOTIFICATION_APPLICATION_DID_RECEIVE_REMOTE_NOTIFICATION='@"$(NOTIFICATION_APPLICATION_DID_RECEIVE_REMOTE_NOTIFICATION)"' NOTIFICATION_APPLICATION_DID_REGISTER_FOR_REMOTE_NOTIFICATIONS='@"$(NOTIFICATION_APPLICATION_DID_REGISTER_FOR_REMOTE_NOTIFICATIONS)"' NOTIFICATION_APPLICATION_DID_TIMEOUT='@"$(NOTIFICATION_APPLICATION_DID_TIMEOUT)"'


// Saved Settings
CDMA_VOICE_DATA_DISABLED = CDMAVoiceDataDisabled
CDMA_VOICE_DATA_HIDDEN = CDMAVoiceDataHidden
DATE_APPLICATION_DID_ENTER_BACKGROUND = dateApplicationDidEnterBackground
DISABLE_TIMEOUT = disableTimeout
REASON_APPLICATION_DID_LOGOUT = ReasonApplicationDidLogout
SHOW_SPRINT_VOICE_DATA_WARNING = showSprintVoiceDataWarning
SHOW_VERIZON_VOICE_DATA_WARNING = showVerizonVoiceDataWarning
SSO_PROVIDER = SSOProvider
SSO_PROVIDER_EMAIL_ADDRESS = SSOProviderEmailAddress
SWIPE_MESSAGE_DISABLED = swipeMessageDisabled
UDDI_DEVICE = UDDIDevice
USER_PROFILE_PHONE_NUMBER = UserProfilePhoneNumber
USER_TIMEOUT_PERIOD_MINUTES = userTimeoutPeriodMinutes

// Append as preprocessor macros (Objective C only)
SAVED_SETTINGS = CDMA_VOICE_DATA_DISABLED='@"$(CDMA_VOICE_DATA_DISABLED)"' CDMA_VOICE_DATA_HIDDEN='@"$(CDMA_VOICE_DATA_HIDDEN)"' DATE_APPLICATION_DID_ENTER_BACKGROUND='@"$(DATE_APPLICATION_DID_ENTER_BACKGROUND)"' DISABLE_TIMEOUT='@"$(DISABLE_TIMEOUT)"' REASON_APPLICATION_DID_LOGOUT='@"$(REASON_APPLICATION_DID_LOGOUT)"' SHOW_SPRINT_VOICE_DATA_WARNING='@"$(SHOW_SPRINT_VOICE_DATA_WARNING)"' SHOW_VERIZON_VOICE_DATA_WARNING='@"$(SHOW_VERIZON_VOICE_DATA_WARNING)"' SSO_PROVIDER='@"$(SSO_PROVIDER)"' SSO_PROVIDER_EMAIL_ADDRESS='@"$(SSO_PROVIDER_EMAIL_ADDRESS)"' SWIPE_MESSAGE_DISABLED='@"$(SWIPE_MESSAGE_DISABLED)"' UDDI_DEVICE='@"$(UDDI_DEVICE)"' USER_PROFILE_PHONE_NUMBER='@"$(USER_PROFILE_PHONE_NUMBER)"' USER_TIMEOUT_PERIOD_MINUTES='@"$(USER_TIMEOUT_PERIOD_MINUTES)"'


// Preprocessor Macros (Objective C only)
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(API_SETTINGS) $(TIMEOUT_PERIODS) $(NOTIFICATION_CENTER) $(SAVED_SETTINGS)
